Question 1.Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [4]:
import re

In [6]:
x='Python Exercises, PHP exercises.'
y=re.sub(r'[\s+,.]',r":",x)
print(y)

Python:Exercises::PHP:exercises:

In [ ]:
****************************************************************

Question 2.Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [9]:
import pandas as pd

In [14]:
x=pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']} )
x

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [23]:
pattern='[^a-z\s]'
x["SUMMARY"].str.replace(pattern,'',regex=True)

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [ ]:
***********************************************************************

Question 3. Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [27]:
x=" Data science is an interdisciplinary academic field  that uses statistics, scientific computing, scientific methods, processes, algorithms and systems to extract or extrapolate knowledge and insights from potentially noisy, structured, or unstructured data."

In [42]:
y=re.compile(r'\w{4,}')
find_word=y.findall(x)
print(find_word)

['Data', 'science', 'interdisciplinary', 'academic', 'field', 'that', 'uses', 'statistics', 'scientific', 'computing', 'scientific', 'methods', 'processes', 'algorithms', 'systems', 'extract', 'extrapolate', 'knowledge', 'insights', 'from', 'potentially', 'noisy', 'structured', 'unstructured', 'data']

In [ ]:
************************************************************************************************

Question 4.Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [38]:
string="The only person you are destined to become is the person you decide to be."

In [43]:
y=re.compile(r'\w{3,5}')
find_word=y.findall(string)
print(find_word)

['The', 'only', 'perso', 'you', 'are', 'desti', 'ned', 'becom', 'the', 'perso', 'you', 'decid']

In [ ]:
**********************************************************************************************************

Question 5.Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [184]:
string= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [192]:
def rem_par(text):
    for i in text:
        y=re.compile(r" ?\(| ?\)") 
        print(y.sub("", i))

rem_par(string)

example.com
hr@fliprobo.com
github.com
HelloData Science World
DataScientist

In [ ]:
***************************************************************************

Question 6.Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [25]:
import re
with open(r"C:\Users\bhawn\OneDrive\Desktop\sample text.txt")as file:
    for text in file:
        new_text = re.sub(r" ?\([^)]+\)", "",text)
        print(new_text)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [ ]:
*************************************************************************

Question 7.Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [4]:
import re
string= "ImportanceOfRegularExpressionsInPython"
pattern=re.findall(r"[A-Z][a-z]*",string)
print(pattern)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
******************************************************************************

Question 8.Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [6]:
string= "RegularExpression1IsAn2ImportantTopic3InPython"

In [7]:
result=re.sub(r"(\w)([0-9])", r"\1 \2", string)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [ ]:
*********************************************************************************

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [29]:
import re
string="RegularExpression1IsAn2ImportantTopic3InPython"
pattern=r'([A-Z]+|\d+)'
output=re.sub(pattern,r' \1',string)
print(output)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

In [ ]:
****************************************************************************************

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [38]:
import pandas as pd
df=pd.read_csv(r"https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [40]:
df['Country'].sample(5)

49          Italy
78         Bhutan
113         Ghana
145      Tanzania
108    Bangladesh
Name: Country, dtype: object

In [59]:
df['first_five_letters'] = df['Country'].apply(lambda m: m[:6])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [ ]:
*******************************************************************************************************

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [78]:
def string(text):
        pattern = r'^[A-Za-z0-9_]*$'
        if re.search(pattern,text):
                return 'Match Found'
        else:
                return('Match Not Found')

print(string("The only person you are destined to become is the person you decide to be."))
print(string("Data_Science_2024"))

Match Not Found
Match Found

In [ ]:
**********************************************************************************************8

Question 12- Write a Python program where a string will start with a specific number.

In [72]:
def match_num(x):
    num = re.compile(r"^2")
    if num.match(x):
        return "Match found"
    else:
        return "Match not found"
print(match_num('235552'))
print(match_num('90008561'))
print(match_num('288***35552'))

Match found
Match not found
Match found

In [ ]:
****************************************************************

Question 13- Write a Python program to remove leading zeros from an IP address

In [73]:
ip_add = "890.028.047.196"
x = re.sub('\.[0]*', '.', ip_add)
print(x)

890.28.47.196

In [ ]:
*******************************************************************

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [19]:
with open(r"C:\Users\bhawn\OneDrive\Desktop\APJ ABDUL KALAM.txt")as file:
      for date in file:
        pattern="([A-Za-z]+) (\d+[a-z]+) (\d+)"
        match=re.search(pattern,date)
        print(match.group())

August 15th 1947

In [ ]:
*****************************************************************************

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [150]:
pattern = [ 'fox', 'dog', 'horse' ]
sample_text = 'The quick brown fox jumps over the lazy dog.'
for i in pattern:
    print("Searching for",i,"in",sample_text,":")
    if re.search(i, sample_text):
        print('Match Found')
    else:
        print('Match Not Found')

Searching for fox in The quick brown fox jumps over the lazy dog. :
Match Found
Searching for dog in The quick brown fox jumps over the lazy dog. :
Match Found
Searching for horse in The quick brown fox jumps over the lazy dog. :
Match Not Found

In [82]:
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [155]:
sample_text='The quick brown fox jumps over the lazy dog.' 
literal='fox'
match=re.search(literal,sample_text)
print(match)
print("Start Point:",match.start())
print("End Point:",match.end())

<re.Match object; span=(16, 19), match='fox'>
Start Point: 16
End Point: 19

In [ ]:
************************************************************************

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [165]:
sample_text="Python exercises, PHP exercises, C# exercises' Pattern : 'exercises"
substring="exercises"
for match in re.finditer(substring,sample_text):
    print(match.group())

exercises
exercises
exercises
exercises

In [ ]:
******************************************************************

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [164]:
string="Ram is good boy. He is good in studies plus also good in cooking"
pattern="good"
for match1 in re.finditer(pattern,string):
    print(match1)

<re.Match object; span=(7, 11), match='good'>
<re.Match object; span=(23, 27), match='good'>
<re.Match object; span=(49, 53), match='good'>

In [ ]:
***************************************************************************

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [12]:
date=input("Enter a date in format yyyy-mm-dd:",              )
y=re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', date)
print("Entered date : ",date) 
print("New date in dd-mm-yyyy format: ",date)

Enter a date in format yyyy-mm-dd:1985-09-11
Entered date :  1985-09-11
New date in dd-mm-yyyy format:  1985-09-11

In [ ]:
***************************************************************

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [9]:
sample_text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r"\b([0-9]+\.[0-9]{1,2})\b")
decimal_num=re.findall(pattern,sample_text)
print(decimal_num)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [ ]:
***********************************************************************

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [98]:
string="In 2018, Time magazine included him on its list of the 100 most influential people in the world"
for match1 in re.finditer("\d+",string):
    print(match1.group(0))
    print("Index position:" ,match1.start(),"\n")

2018
Index position: 3

100
Index position: 55

In [ ]:
**********************************************************************************************

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [102]:
sample_text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [105]:
num=re.findall("\d+",sample_text)
print(num)
print("Maximum Numeric value:",max(num))

['947', '896', '926', '524', '734', '950', '642']
Maximum Numeric value: 950

In [ ]:
*********************************************************************

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [121]:
string="RegularExpressionIsAnImportantTopicInPython"
output=re.sub(r"(\w)([A-Z])", r"\1 \2",string)
print(output)

Regular Expression Is An Important Topic In Python

In [ ]:
**************************************************************

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [77]:
text=input(" Enter a Text String/Word :  ")
def text_word(text):
        pattern = '[A-Z]+[a-z]+$'
        if re.search(pattern, text):
                return ('Match Found')
        else:
                return('Match Not Found')
text_word(text)

 Enter a Text String/Word :  Bhan njhjh IJl

'Match Found'

In [ ]:
**************************************************************

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [84]:
string_1= "Hello hello world world"
pattern=r'\b(\w+)(?:\W+\1\b)+'
output=re.sub(pattern,r'\1',string_1)
print(output)

Hello hello world

In [ ]:
*****************************************************************************

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [58]:
string=input("Enter a string:              ")
def text(string):
    pattern=r"\w$"
    if re.search(pattern,string):
        return "String Accepted"
    else:
        return "String Not Accepted"

text(string)

Enter a string:              as bh nj in mk2

'String Accepted'

In [ ]:
*********************************************************************************

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [68]:
sample_text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""

In [73]:
output= re.findall(r'#\w+',sample_text)
print(output)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [ ]:
*********************************************************************************************

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [87]:
sample_text="@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

In [92]:
output=re.sub(r"<U\+[A-Z0-9]+>","",sample_text)
print(output)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

In [ ]:
*******************************************************************************************

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [9]:

import re
with open(r"C:\Users\bhawn\OneDrive\Desktop\q14.txt") as file:
    for m in file:
        dob=re.findall(r"\d{2}-\d{2}-\d{4}", m)
        print(dob)

['12-09-1992', '15-12-1999']

In [ ]:
**************************************************************************

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [109]:
sample_text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [112]:
pattern = re.compile(r'\b\w{2,4}\b')
output = re.sub(pattern,'',sample_text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

In [ ]:
******************************************************************************************************