In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\bhawn\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\bhawn\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\bhawn\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\bhawn\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\bhawn\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [43]:
# selenium
import selenium
import pandas as pd
from selenium import webdriver

# Beautiful Soup
from bs4 import BeautifulSoup
import requests


# Importing required Exceptions which needs to be handled
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

import warnings
warnings.filterwarnings('ignore')


from selenium.webdriver.common.by import By

import re
import time

QUES 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver=webdriver.Chrome()
#fetching url
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ')
time.sleep(4)
driver.maximize_window()

In [4]:
# creating empty list 

Rank = []
Name = []
Artist = []
Date = []
Views = []

In [5]:
# scraping Rank of the videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter']/tbody/tr/td[0]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        
# Scraping Name of the videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter']/tbody/tr/td[1]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        
# Scraping Artist of the videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter']/tbody/tr/td[2]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        
# Scraping Upload_Date of the videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter']/tbody/tr/td[4]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
    
# Scraping Views of the videos


try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter']/tbody/tr/td[3]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [6]:
print(len(Rank),len(Name),len(Artist),len(Date),len(Views))

0 30 30 30 30

In [7]:
# creating DataFrame for scraped data

Wikipedia = pd.DataFrame({})

Wikipedia['Rank'] = Rank
Wikipedia['Name'] = Name
Wikipedia['Artist'] = Artist
Wikipedia['Upload Date'] = Date
Wikipedia['Views (in Billions)'] = Views


Wikipedia

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,NaN,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.66
1,NaN,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.47
2,NaN,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.92
3,NaN,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.75
4,NaN,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.30
5,NaN,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.28
6,NaN,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.22
7,NaN,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.84
8,NaN,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.25
9,NaN,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.20
10,NaN,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.13
11,NaN,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.68
12,NaN,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.60
13,NaN,"""Masha and the Bear ‚Äì Recipe for Disaster""[39]",Get Movies,"January 31, 2012",4.60
14,NaN,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.10
15,NaN,"""Lakdi Ki Kathi""[41]",Jingle Toons,"June 14, 2018",4.07
16,NaN,"""Sugar""[42]",Maroon 5,"January 14, 2015",4.06
17,NaN,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.03
18,NaN,"""Roar""[44]",Katy Perry,"September 5, 2013",4.01
19,NaN,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.96
20,NaN,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.90
21,NaN,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.84
22,NaN,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.82
23,NaN,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.78
24,NaN,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.75
25,NaN,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.74
26,NaN,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.68
27,NaN,"""Faded""[53]",Alan Walker,"December 3, 2015",3.65
28,NaN,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.62
29,NaN,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.62

QUES 2. Scrape the details team India‚Äôs international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [8]:
driver=webdriver.Chrome()
#fetching url
driver.get(' https://www.bcci.tv/ ')

driver.maximize_window()

In [9]:
#click on international
international=driver.find_element(By.XPATH,"/html/body/header/div[3]/ul/li[1]")
international.click()

In [10]:
# click on fixtures
fixtures= driver.find_element(By.XPATH,"//html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
fixtures.click()

In [13]:
# click on results
results= driver.find_element(By.XPATH,"/html/body/section/div/div/div/div/div/div[2]/div[2]/div[1]/div[3]")
results.click()

In [14]:
# creating empty lists for scraping the data

Series = []
Place = []
Date = []
Time = []

In [15]:
#Scraping Series
series= driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)

In [16]:
len(Series)

5

In [17]:
#Scraping Place
place= driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]')
for i in place:
    Place.append(i.text)

In [18]:
len(Place)

5

In [19]:
#Scraping Date
date= driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)

In [20]:
len(Date)

5

In [21]:
#Scraping Time
time= driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)

In [22]:
len(Time)

5

In [23]:
# creating data frame
fixture=pd.DataFrame({"Series": Series,
                          "Place": Place,
                          "Date": Date,
                          "Time": Time})
fixture

,Series,Place,Date,Time
0,ICC Mens T20 World Cup 2024,"Kensington Oval, Barbados",29 Jun,20:00 IST
1,South Africa Women Tour Of India Test Series 2024,"MA Chidambaram Stadium, Chennai",28 Jun,9:30 IST
2,ICC Mens T20 World Cup 2024,"Providence Stadium, Guyana",27 Jun,20:00 IST
3,ICC Mens T20 World Cup 2024,"Daren Sammy National Cricket Stadium, Gros Isl...",24 Jun,20:00 IST
4,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",23 Jun,13:30 IST

QUES 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [32]:
driver=webdriver.Chrome()
#fetching url
driver.get('  http://statisticstimes.com/')

driver.maximize_window()

In [33]:
#Click Economy
Economy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]")
Economy.click()

In [34]:
#Click India
India= driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
India.click()

In [36]:
#Click on India GPD
GDP=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [37]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_21_22=[]
GSDP_at_current_price_22_23=[]
Share_21_22=[]
GDP_billion_21=[]

In [40]:
#Scraping Rank
rank= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)
        
#Scraping State
state= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)
                
#Scraping GSDP_at_current_price_21_22
gsdp_at_current_price_21_22= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in gsdp_at_current_price_21_22:
    if i.text is None:
        GSDP_at_current_price_21_22.append('--')
    else:
        GSDP_at_current_price_21_22.append(i.text)
        
#Scraping GSDP_at_current_price_22_23
gsdp_at_current_price_22_23= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gsdp_at_current_price_22_23:
    if i.text is None:
        GSDP_at_current_price_22_23.append('--')
    else:
        GSDP_at_current_price_22_23.append(i.text)
        
#Scraping Share_21_22
share_21_22= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in share_21_22:
    if i.text is None:
        Share_21_22.append('--')
    else:
        Share_21_22.append(i.text)
        
#Scraping GDP_billion_21
gdp_billion_21= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[7]")
for i in gdp_billion_21:
    if i.text is None:
        GDP_billion_21.append('--')
    else:
        GDP_billion_21.append(i.text)

In [41]:
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_22_23']=GSDP_at_current_price_22_23
GDP_India['GSDP_at_current_price_21_22']=GSDP_at_current_price_21_22
GDP_India['Share_21_22']=Share_21_22
GDP_India['GDP_billion']=GDP_billion_21
GDP_India

,Rank,State,GSDP_at_current_price_22_23,GSDP_at_current_price_21_22,Share_21_22,GDP_billion
0,1,Maharashtra,-,"3,108,022",13.17%,414.928
1,2,Tamil Nadu,"2,364,514","2,071,286",8.78%,276.522
2,3,Karnataka,"2,269,995","1,978,094",8.38%,264.080
3,4,Uttar Pradesh,"2,258,040","1,975,595",8.37%,263.747
4,5,Gujarat,"2,230,609","1,928,683",8.17%,257.484
...,...,...,...,...,...,...
61,29,Manipur,-,"36,594",0.16%,4.885
62,30,Arunachal Pradesh,"39,630","34,775",0.15%,4.643
63,31,Nagaland,"35,643","31,038",0.13%,4.144
64,32,Mizoram,-,"27,824",0.12%,3.715
65,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.385

QUES 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [44]:
driver=webdriver.Chrome()
#fetching url
driver.get('   https://github.com/ ')
time.sleep(4)
driver.maximize_window()

In [45]:
# clicking on explore menu
Explore=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button")
Explore.click()

In [46]:
# clicking on trending
Trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a")
Trending.click()

In [47]:
# Creating emplty list 
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [48]:
#scraping Repository_title
repository_title=driver.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']")
for i in repository_title:
    if i.text is None:
        Repository_title.append('--')
    else:
        Repository_title.append(i.text)
        
#scraping Repository_description
repository_description=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in repository_description:
    if i.text is None:
        Repository_description.append('--')
    else:
        Repository_description.append(i.text)
        

#scraping Contributors_count
contributors_count=driver.find_elements(By.XPATH,"//div[@class='f6 color-fg-muted mt-2']/span/a[2]")
for i in contributors_count:
    if i.text is None:
        Contributors_count.append('--')
    else:
        Contributors_count.append(i.text)
        

#scraping Language_used
language_used=driver.find_elements(By.XPATH,"//div[@class='f6 color-fg-muted mt-2']/span[3]")
for i in language_used:
    if i.text is None:
        Language_used.append('--')
    else:
        Language_used.append(i.text)

In [49]:
# making dataframe from scraped data
Trending_repository=pd.DataFrame({})
Trending_repository['Repository_title']= Repository_title
Trending_repository['Repository_description']= Repository_description
Trending_repository['Contributors_count']= Contributors_count
Trending_repository['Language_used']= Language_used



Trending_repository

,Repository_title,Repository_description,Contributors_count,Language_used
0,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...",,"2,390 stars today"
1,goldmansachs / gs-quant,Python toolkit for quantitative finance,,237 stars today
2,projectdiscovery / nuclei-templates,Community curated list of templates for the nu...,,54 stars today
3,maybe-finance / maybe,The OS for your personal finances,,90 stars today
4,SerenityOS / serenity,The Serenity Operating System üêû,,107 stars today
5,BLAKE3-team / BLAKE3,the official Rust and C implementations of the...,,22 stars today
6,folke / tokyonight.nvim,"üèô A clean, dark Neovim theme written in Lua, w...",,18 stars today
7,NaiboWang / EasySpider,A visual no-code/code-free web crawler/spiderÊòì...,,179 stars today
8,pedroslopez / whatsapp-web.js,A WhatsApp client library for NodeJS that conn...,,102 stars today
9,Asabeneh / 30-Days-Of-Python,30 days of Python programming challenge is a s...,,"1,337 stars today"
10,jackfrued / Python-100-Days,Python - 100Â§©‰ªéÊñ∞ÊâãÂà∞Â§ßÂ∏à,,47 stars today
11,fishaudio / fish-speech,Brand new TTS solution,,509 stars today
12,jeremylong / DependencyCheck,OWASP dependency-check is a software compositi...,,18 stars today
13,ydb-platform / ydb,YDB is an open source Distributed SQL Database...,,38 stars today

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [50]:
driver=webdriver.Chrome()
#fetching url
driver.get('  https:/www.billboard.com/')
time.sleep(4)
driver.maximize_window()

In [51]:
# click on Charts
Charts= driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
Charts.click()
time.sleep(3)

In [52]:
# click on Billion 100 songs
Hot_song= driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
Hot_song.click()
time.sleep(3)

In [53]:
# Creating empty list
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [60]:
#Scraping Song_name
song_name= driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]//ul/li/h3")
for i in song_name:
    if i.text is None:
        Song_name.append('--')
    else:
        Song_name.append(i.text)
        
#Scraping Artist_name
artist_name= driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]//ul/li[1]/span")
for i in artist_name:
    if i.text is None:
        Artist_name.append('--')
    else:
        Artist_name.append(i.text)

#Scraping Last_week_rank
last_week_rank= driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li[4]/span")
for i in last_week_rank:
    if i.text is None:
        Last_week_rank.append('--')
    else:
        Last_week_rank.append(i.text)
        
#Scraping Peak_rank
peak_rank= driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li[5]/span")
for i in peak_rank:
    if i.text is None:
        Peak_rank.append('--')
    else:
        Peak_rank.append(i.text)
        
#Scraping Weeks_on_board
weeks_on_board= driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']/ul/li[4]//ul/li[6]/span")
for i in weeks_on_board:
    if i.text is None:
        Weeks_on_board.append('--')
    else:
        Weeks_on_board.append(i.text)

In [61]:
print(len(Song_name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

300 300 300 300 300

In [62]:
Hot_Songs=pd.DataFrame({})
Hot_Songs['Song_name']=Song_name
Hot_Songs['Artist_name']=Artist_name
Hot_Songs['Last_week_rank']=Last_week_rank
Hot_Songs['Peak_rank']=Peak_rank
Hot_Songs['Weeks_on_board']=Weeks_on_board

Hot_Songs

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,2,1,7
1,A Bar Song (Tipsy),Shaboozey,3,2,11
2,Not Like Us,Kendrick Lamar,6,1,8
3,Espresso,Sabrina Carpenter,4,3,11
4,Please Please Please,Sabrina Carpenter,1,1,3
...,...,...,...,...,...
295,The Man He Sees In Me,Luke Combs,39,39,3
296,Brother Stone,Don Toliver Featuring Kodak Black,61,61,2
297,Guilty As Sin?,Taylor Swift,88,10,10
298,La Patrulla,Peso Pluma & Neton Vega,-,99,1
299,Bandit,Don Toliver,73,38,18

QUES 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [63]:
driver=webdriver.Chrome()
#fetching url
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(4)
driver.maximize_window()

In [64]:
# creating empty lists for scraping data
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [65]:
# Scraping Book_name
book_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in book_name:
    if i.text is None:
        Book_name.append('--')
    else:
        Book_name.append(i.text)
        
# Scraping Author_name
author_name=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
# Scraping Volumes_sold
volumes_sold=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in volumes_sold:
    if i.text is None:
        Volumes_sold.append('--')
    else:
        Volumes_sold.append(i.text)
        
# Scraping Publisher
publisher=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
# Scraping Genre
genre=driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in genre:
    if i.text is None:
        Genre.append('--')
    else:
        Genre.append(i.text)

In [66]:
Top_selling_book=pd.DataFrame({})
Top_selling_book['Book_name']=Book_name
Top_selling_book['Author_name']=Author_name
Top_selling_book['Volumes_sold']=Volumes_sold
Top_selling_book['Publisher']=Publisher
Top_selling_book['Genre']=Genre


Top_selling_book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

QUES 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [ ]:
driver=webdriver.Chrome()
#fetching url
driver.get('  https://www.imdb.com/list/ls095964455/ ')
time.sleep(4)
driver.maximize_window()

In [ ]:
# Creating empty list
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

QUES 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.
ASSIGNMENT

In [67]:
driver=webdriver.Chrome()
#fetching url
driver.get('  https://archive.ics.uci.edu/')
time.sleep(2)
driver.maximize_window()

In [68]:
# click on datasets
show_dataset= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
show_dataset.click()
time.sleep(2)

In [69]:
# click on expand all 
expand_all= driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]")
expand_all.click()
time.sleep(3)

In [70]:
# creating empty lists 
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [ ]:
#scraping Dataset name

start=0
end=665
for page in range(start,end):
    data_name= driver.find_elements(By.XPATH,"//div[@class='relative col-span-8 sm:col-span-7']/h2")
    for i in data_name:
        if i.text is None :
            Dataset_name.append("--") 
        else:
            Dataset_name.append(i.text)
time.sleep(4) 

#Scraping data Type

start=0
end=665
for page in range(start,end):
    data_type=driver.find_elements(By.XPATH,"//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[2]/span")
    for i in data_type:
        if i.text is None :
            Data_type.append("--") 
        else:
            Data_type.append(i.text)

time.sleep(4) 


#Scraping Task
start=0
end=665
for page in range(start,end):
    task=driver.find_elements(By.XPATH,"//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[1]/span")
    for i in task:
        if i.text is None :
            Task.append("--") 
        else:
            Task.append(i.text)
        
time.sleep(4) 

#Scraping Attribute_type

start=0
end=665
for page in range(start,end):
    attribute_type=driver.find_elements(By.XPATH,"//table[@class='col-span-full my-2 table sm:col-start-2']/tbody/tr/td[2]")
    for i in attribute_type:
        if i.text is None :
            Attribute_type.append("--") 
        else:
            Attribute_type.append(i.text)

time.sleep(4)     

#Scraping No_of_instances

start=0
end=665
for page in range(start,end):
    no_of_instances=driver.find_elements(By.XPATH,"//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[3]/span")
    for i in no_of_instances:
        if i.text is None :
            No_of_instances.append("--") 
        else:
            No_of_instances.append(i.text)

time.sleep(4)  


#Scraping No_of_attribute
start=0
end=665
for page in range(start,end):
    no_of_attribute=driver.find_elements(By.XPATH,"//div[@class='my-2 hidden gap-4 md:grid grid-cols-12']/div[4]/span")
    for i in no_of_attribute:
        if i.text is None :
            No_of_attribute.append("--") 
        else:
            No_of_attribute.append(i.text)

time.sleep(4) 


#Scraping Year

tart=0
end=665
for page in range(start,end):
    year=driver.find_elements(By.XPATH,"//table[@class='col-span-full my-2 table sm:col-start-2']/tbody/tr/td[3]")
    for i in year:
        if i.text is None :
            Year.append("--") 
        else:
            Year.append(i.text)
    
time.sleep(4)

next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
next_button.click()

In [ ]:
data_dataset=pd.DataFrame({})
data_dataset['Dataset_name']= Dataset_name
data_dataset['Data_type']= Data_type
data_dataset['Task']= Task
data_dataset['Attribute_type']= Attribute_type
data_dataset['No_of_instances']= No_of_instances
data_dataset['No_of_attribute']= No_of_attribute
data_dataset['Year']= Year

data_dataset