In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\bhawn\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\bhawn\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\bhawn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\bhawn\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\bhawn\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\bhawn\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\bhawn\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
# installing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q1: In this question you have to scrape data using the filters available on the webpage You have to use the location and salary filter.
You have to scrape data for ‚ÄúData Scientist‚Äù designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is ‚ÄúDelhi/NCR‚Äù. The salary filter to be used is ‚Äú3-6‚Äù lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.naukri.com/
2. Enter ‚ÄúData Scientist‚Äù in ‚ÄúSkill, Designations, and Companies‚Äù field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [32]:
# opening the naukri page on automated chrome browser
driver=webdriver.Chrome()
driver.get('https://www.naukri.com/')

In [33]:
# entering designation as required 
designation = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Scientist')

In [34]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [35]:
# selecting delhi/ncr region as location
delhincr_search= driver.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[3]/label/p/span[1]")
delhincr_search.click()

In [36]:
# selecting desired salary as mentioned in question
salary_search=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary_search.click()

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [38]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping company name from the given page    
company_tags=driver.find_elements(By.XPATH,'//a[@class=" comp-name mw-25"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)   


# scraping job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [39]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [40]:
import pandas as pd
df=pd.DataFrame({'TITLE':job_title,"LOCATION":job_location,'COMPANY_NAME':company_name,"EXPERIENCE":experience_required})
df

,TITLE,LOCATION,COMPANY_NAME,EXPERIENCE
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
1,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",Ericsson,3-7 Yrs
2,Associate Data Scientist,Noida,Orange Business Services,1-5 Yrs
3,"Data Scientist - NLP, Gen AI","Noida, Mumbai, Hyderabad/Secunderabad, Gurgaon...",R Systems International,5-8 Yrs
4,Python Data Scientist,Gurugram,Wizaltia Hr Solutions,2-7 Yrs
5,Data Scientist,Noida,Scienaptic Systems,2-7 Yrs
6,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",Newwave Technologies,1-3 Yrs
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,3-7 Yrs
8,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",PayU,3-7 Yrs
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Orange Business Services,3-7 Yrs

Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter ‚ÄúData Analyst‚Äù in ‚ÄúJob title, Skills‚Äù field and enter ‚ÄúBangalore‚Äù in ‚Äúenter the location‚Äù field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [43]:
# opening the shine page on automated chrome browser
driver=webdriver.Chrome()
driver.get(' https://www.shine.com/')

In [46]:
# entering data analyst designation
designation = driver.find_element(By.ID, "id_q")
designation.send_keys('Data Analyst')

In [47]:
# entering bangalore as loaction
location = driver.find_element(By.ID, "id_loc")
location.send_keys('Bangalore')

In [48]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [49]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [50]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping job location from the given page   
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping job title from the given page   
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)  
    
# scraping job title from the given page 
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [51]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [52]:
import pandas as pd
df=pd.DataFrame({'TITLE':job_title,"LOCATION":job_location,'COMPANY_NAME':company_name,"EXPERIENCE":experience_required})
df

,TITLE,LOCATION,COMPANY_NAME,EXPERIENCE
0,"Data Analyst , Senior Data Analyst , Data Anal...",0 to 4 Yrs,appsoft solutions,0 to 4 Yrs
1,Lead Data Analyst,5 to 9 Yrs,mackenzie modern it solutions priva...,5 to 9 Yrs
2,Data Analyst,2 to 4 Yrs,vision india services private limit...,2 to 4 Yrs
3,Clinical Data Analyst,0 to 1 Yr,techno endura,0 to 1 Yr
4,Clinical Data Analyst,0 to 1 Yr,techno endura,0 to 1 Yr
5,Data Analyst,9 to 14 Yrs,neo impex stainless private limited,9 to 14 Yrs
6,Lead Data Analyst,5 to 9 Yrs,mackenzie modern it solutions priva...,5 to 9 Yrs
7,Data Analyst,4 to 5 Yrs,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
8,Data Analyst (Need Immediate Joiner),0 to 4 Yrs,r.s textile,0 to 4 Yrs
9,Data Analyst (Need Immediate Joiner),0 to 4 Yrs,r.s textile,0 to 4 Yrs

Q3: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART
Asshown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [29]:
# opening the flipkart page link as mentioned on automated chrome browser
driver=webdriver.Chrome()
driver.get('  https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [30]:
#making an empty list
ratings=[]
summary=[]
review=[]

In [31]:
# scraping ratings from the given page
rating_tags=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
for i in rating_tags:
    rat=i.text
    ratings.append(rat)
    

# scraping summary from the given page    
summary_tags=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
for i in summary_tags:
    summ =i.text
    summary.append(summ)
    
    
#scraping review of product from given page
review_tags=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
for i in review_tags:
    rev=i.text
    review.append(rev)

In [32]:
print(len(ratings),len(summary),len(review))

10 10 10

In [33]:
import pandas as pd
df=pd.DataFrame({"RATINGS":ratings,"SUMMARY":summary,'REVIEW':review})
df

,RATINGS,SUMMARY,REVIEW
0,5,Best in the market!,Good Camera
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific purchase,Value for money üòç
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Just wow!,Perfect Product!!
5,5,Wonderful,This is amazing at all
6,5,Terrific,Very very good
7,5,Must buy!,It‚Äôs really awesome
8,5,Perfect product!,Photos super
9,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è

In [36]:
ratingss=[]
summarys=[]
reviews=[]

In [ ]:
# scrapting data from the next pages
start=0
end=20
for page in range(start,end):
    ratss=driver.find_elements(By.XPATH,'//div[@class="XQDdHH Ga3i8K"]')
    for i in ratss:
        ratingss.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(2)

In [ ]:
# scrapting data from the next pages
start=0
end=10
for page in range(start,end):
    summs=driver.find_elements(By.XPATH,'//p[@class="z9E0IG"]')
    for i in summs:
        summarys.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)

In [ ]:
# scrapting data from the next pages
start=0
end=10
for page in range(start,end):
    revs=driver.find_elements(By.XPATH,'//div[@class="ZmyHeo"]')
    for i in revs:
        reviews.append(i.text)
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [20]:
print(len(ratingss),len(summarys),len(reviews))

0

In [76]:
# making a dataframe of top 100 products
import pandas as pd
df=pd.DataFrame({"RATINGS":ratingss,"SUMMARY":summarys,'REVIEW':reviews})
df[:100]

,RATINGS,SUMMARY,REVIEW
0,5,Perfect product!,Photos super
1,5,Best in the market!,Good Camera
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Terrific purchase,Value for money üòç
4,5,Worth every penny,Feeling awesome after getting the delivery of ...
...,...,...,...
95,5,Just wow!,Perfect Product!!
96,5,Terrific,Very very good
97,5,Wonderful,This is amazing at all
98,5,Must buy!,It‚Äôs really awesome
99,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è

Q4: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes

In [172]:
# opening the flipkart page link as mentioned on automated chrome browser
driver=webdriver.Chrome()
driver.get(' https://www.flipkart.com/')

In [173]:
# entering sneakers in searchn
designation = driver.find_element(By.CLASS_NAME, "Pke_EE")
designation.send_keys('sneakers')

In [174]:
# clicking on search button
search=driver.find_element(By.CLASS_NAME, "_2iLD__")
search.click()

In [175]:
brand=[]
product_desr=[]
price=[]

In [176]:
#scraping brand name of product from given page
brand_tags=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    rat=i.text
    brand.append(rat)

#scraping description of product from given page    
product_tags=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
for i in product_tags:
    summ =i.text
    product_desr.append(summ)
    
    
#scraping price of product from given page    
price_tags=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    rev=i.text
    price.append(rev)

In [178]:
print(len(brand),len(product_desr),len(price))

40 35 40

In [179]:
import pandas as pd
df=pd.DataFrame({'BRAND':brand,'PRICE':price})
df

              BRAND   PRICE
0         Ego by NS    ‚Çπ298
1            BRUTON    ‚Çπ608
2          Red Tape  ‚Çπ1,119
3          URBANBOX    ‚Çπ299
4          Red Tape  ‚Çπ1,179
5             asian    ‚Çπ749
6            BRUTON    ‚Çπ512
7             Abros    ‚Çπ799
8          Red Tape  ‚Çπ1,259
9          Red Tape  ‚Çπ1,059
10           corsac    ‚Çπ430
11           BRUTON    ‚Çπ608
12           Aeonik    ‚Çπ451
13             ATOM  ‚Çπ1,685
14         Red Tape  ‚Çπ1,059
15            Krors    ‚Çπ479
16           BRUTON    ‚Çπ388
17             aadi    ‚Çπ299
18            asian    ‚Çπ749
19         Red Tape  ‚Çπ1,769
20           BRUTON    ‚Çπ499
21           BRUTON    ‚Çπ551
22         URBANBOX    ‚Çπ299
23        Deals4you    ‚Çπ399
24         Red Tape  ‚Çπ1,179
25         Red Tape  ‚Çπ1,379
26             PUMA  ‚Çπ1,569
27           BRUTON    ‚Çπ608
28         BERSACHE  ‚Çπ1,599
29         Red Tape  ‚Çπ1,129
30         RapidBox    ‚Çπ550
31            AMICO    ‚Çπ485
32  U.S. POLO ASSN.  ‚Çπ1,037
33             ATOM    ‚Çπ999
34         Roadster    ‚Çπ949
35         Red Tape  ‚Çπ1,649
36           BRUTON    ‚Çπ608
37           BRUTON    ‚Çπ569
38         Red Tape  ‚Çπ1,039
39  U.S. POLO ASSN.  ‚Çπ1,177

In [180]:
brands=[]
product_desrs=[]
prices=[]

In [181]:
# scrapting data from the next pages
start=0
end=3
for page in range(start,end):
    rats=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in rats:
        brands.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

In [182]:
# scrapting data from the next pages
start=0
end=3
for page in range(start,end):
    summs=driver.find_elements(By.XPATH,'//a[@class="WKTcLC"]')
    for i in summs:
         product_desrs.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

In [183]:
# scrapting data from the next pages
start=0
end=3
for page in range(start,end):
    revs=driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
    for i in revs:
        prices.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    next_button.click()
    time.sleep(3)

In [184]:
print(len(brands),len(product_desrs),len(prices))

120 96 120

In [186]:
# making dataframe
import pandas as pd
df=pd.DataFrame({'BRAND':brands,'PRICE':prices})
df[:100]

        BRAND   PRICE
0   Ego by NS    ‚Çπ298
1      BRUTON    ‚Çπ608
2    Red Tape  ‚Çπ1,119
3    URBANBOX    ‚Çπ299
4    Red Tape  ‚Çπ1,179
..        ...     ...
95      Krors    ‚Çπ479
96     BRUTON    ‚Çπ388
97       aadi    ‚Çπ299
98   BERSACHE  ‚Çπ1,599
99  Deals4you    ‚Çπ399

[100 rows x 2 columns]

Q5: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [219]:
# opening amazon page on automated chrome browser
driver=webdriver.Chrome()
driver.get('  https://www.amazon.in/')

In [220]:
# entering laptop as search element
designation = driver.find_element(By.ID, "twotabsearchtextbox")
designation.send_keys('Laptop')

In [221]:
search=driver.find_element(By.ID, "nav-search-submit-button")
search.click()

In [224]:
# selection inteli7 as cpu processor
cpu_search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[20]/span/span[11]/li/span/a/span')
cpu_search.click()

In [225]:
title=[]
ratings=[]
price=[]

In [226]:
#scraping brand name  of product from given page
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags:
    rat=i.text
    title.append(rat)

    
#scraping ratings of product from given page    
product_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in product_tags:
    summ =i.text
    ratings.append(summ)
    
#scraping price of product from given page    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    rev=i.text
    price.append(rev)

In [227]:
print(len(title),len(ratings),len(price))

24 24 24

In [228]:
import pandas as pd
df=pd.DataFrame({'TITLE':title,'RATINGS':ratings,'PRICE':price})
df[:10]

                                               TITLE RATINGS   PRICE
0  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...          61,990
1  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...          49,780
2  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...          52,999
3  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...          49,780
4  ASUS [Smartchoice] Vivobook 15, Intel Core i7-...          78,990
5  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...          62,933
6  Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...          61,990
7  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...          64,490
8  Acer Travelmate Business Laptop Intel Core i7-...          77,490
9  Dell Inspiron 3530 Laptop, 13th Generation Int...          70,999

Q6: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quote
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [150]:
# opening azquotes page on automated chrome browser
driver=webdriver.Chrome()
driver.get(' https://www.azquotes.com/ ')

In [151]:
# clicking on top quotes to get result
topquote_search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a" )
topquote_search.click()

In [152]:
quote=[]
author=[]
type_quote=[]

In [153]:
#scraping quotes from given page
quote_tags=driver.find_elements(By.CLASS_NAME,'wrap-block')
for i in quote_tags:
    rat=i.text
    quote.append(rat)

#scraping authors of quotes from given page    
author_tags=driver.find_elements(By.CLASS_NAME,'author')
for i in author_tags:
    summ =i.text
    author.append(summ)

#scraping type of quotes from given page    
type_quote_tags=driver.find_elements(By.CLASS_NAME,'tags')
for i in type_quote_tags:
    rev=i.text
    type_quote.append(rev)

In [155]:
print(len(quote),len(author),len(type_quote))

100 100 100

In [156]:
# making dataframe of quotes from first page
import pandas as pd
df=pd.DataFrame({'QUOTE':quote,'AUTHOR':author,'TYPE OF QUOTE':type_quote})
df

,QUOTE,AUTHOR,TYPE OF QUOTE
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro....",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world...,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [157]:
quotes=[]
authors=[]
types=[]

In [99]:
# scrapting data from the next pages
start=0
end=10
for page in range(start,end):
    qut=driver.find_elements(By.CLASS_NAME,'wrap-block')
    for i in qut:
        quotes.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')(# to scrap from the next pages as well)
    next_button.click()
    time.sleep(3)

In [100]:
len(quotes)

1000

In [101]:
# scrapting data from the next pages
start=0
end=10
for page in range(start,end):
    summs=driver.find_elements(By.CLASS_NAME,'author')
    for i in summs:
        authors.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')(# to scrap from the next pages as well)
    next_button.click()
    time.sleep(3)

In [102]:
len(authors)

1000

In [105]:
# scrapting data from the next pages
start=0
end=10
for page in range(start,end):
    revs=driver.find_elements(By.CLASS_NAME,'tags')
    for i in revs:
        types.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')(# to scrap from the next pages as well)
    next_button.click()
    time.sleep(3)

In [106]:
len(types)

1000

In [107]:
# making dataframe of top 100 quotes with their authors and type of quotes
import pandas as pd
df=pd.DataFrame({'QUOTE':quotes,'AUTHOR':authors,'TYPE OF QUOTE':types})
df

,QUOTE,AUTHOR,TYPE OF QUOTE
0,The essence of strategy is choosing what not t...,Amelia Earhart,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Ludwig von Mises,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Elizabeth Cady Stanton,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Benjamin Spock,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Michael Jordan,"Inspirational, Life, Motivational"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q7: Write a python program to display list of respected former Prime Ministers of India (i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1
scrap the mentioned data and make the DataFrame

In [236]:
# opening given link of  page on automated chrome browser
driver=webdriver.Chrome()
driver.get(' https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1 ')

In [240]:
# extracting the table data
table = driver.find_element(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[4]/div[6]/div')

Q8: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ‚Äô50 most expensive cars‚Äô
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the dataframe.

In [163]:
# opening motor1 page on automated chrome browser
driver=webdriver.Chrome()
driver.get('   https://www.motor1.com/')

In [164]:
# entering 50 most expensive cars in search
designation = driver.find_element(By.ID,"search_input")
designation.send_keys('50 most expensive cars')

In [165]:
search=driver.find_element(By.XPATH, "/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]")
search.click()

In [166]:
# clicking on link 
title_link=driver.find_element(By.XPATH, "/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
title_link.click()

In [167]:
car_name=[]
price=[]

In [168]:
# scraping expensive car names as desired
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    rat=i.text
    car_name.append(rat)

In [170]:
print(len(car_name),len(price))

51 0

In [171]:
import pandas as pd
df=pd.DataFrame({'TITLE':car_name})
df

                                        TITLE
0                           McLaren Senna GTR
1                                 Czinger 21C
2                               Ferrari Monza
3                          Gordon Murray T.33
4                           Koenigsegg Gemera
5                          Hennessey Venom F5
6                             Bentley Bacalar
7               Hispano Suiza Carmen Boulogne
8                      Bentley Mulliner Batur
9                                 SSC Tuatara
10                                Lotus Evija
11                        Aston Martin Vulcan
12                                 Delage D12
13                        Ferrari Daytona SP3
14                          McLaren Speedtail
15                               Rimac Nevera
16                              Pagani Utopia
17                       Pininfarina Battista
18                         Gordon Murray T.50
19                       Lamborghini Countach
20              Hennessey Venom F5 Revolution
21                   Mercedes-AMG Project One
22                               Zenvo Aurora
23                        Aston Martin Victor
24                Hennessey Venom F5 Roadster
25                           Koenigsegg Jesko
26                                 Aspark Owl
27                      Aston Martin Valkyrie
28                  W Motors Lykan Hypersport
29                              McLaren Solus
30                        Pagani Huayra Evo R
31                           Lamborghini Sian
32                           Koenigsegg CC850
33            Bugatti Chiron Super Sport 300+
34  Gordon Murray Automotive T.50s Niki Lauda
35                  Pagani Huayra Roadster BC
36                         Lamborghini Veneno
37                             Bugatti Bolide
38                  Pininfarina B95 Speedster
39                            Bugatti Mistral
40                               Bugatti Divo
41                        Pagani Huayra Imola
42                           Pagani Codalunga
43                   Mercedes-Maybach Exelero
44                         Bugatti Centodieci
45                    Bugatti Chiron Profil√©e
46                       Rolls-Royce Sweptail
47                   Bugatti La Voiture Noire
48                      Rolls-Royce Boat Tail
49         Rolls-Royce La Rose Noire Droptail
50           Most Expensive Cars In The World